@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Login";
}
@model User

<div class="container entrance_section_container w-50">
	<div class="d-flex align-items-end px-5 ms-xl-4">
		<p class="m-0">wel</p>
		<p class="display-6 m-0">C</p>
		<p class="m-0">ome</p>
	</div>
	<div class="row">
		<div class="login_section_container d-flex align-items-center px-5 mt-5 pt-5 pt-xl-0 mt-xl-n5">

			<form class="w-100" action="~/User/Login" method="post">

				<h3 class="mb-3 pb-3">Đăng nhập</h3>

				<div class="form-outline mb-4">
					<label class="form-label">Tên đăng nhập</label>
					<input class="form-control form-control-lg" type="text" name="username" value="@Model.UserName" />
				</div>

				<div class="form-outline mb-4">
					<label class="form-label">Mật khẩu</label>
					<input type="password" id="form2Example28" class="form-control form-control-lg" type="password" name="password" value="@Model.Password" />
				</div>

				<div class="col-md-6 pl-0 pt-1 mb-4">
					<input class="entrance_section_button btn-lg btn-block" type="submit" value="Đăng nhập" />
				</div>
			</form>

		</div>
	</div>
</div>

@section Scripts{
	<style>
		.entrance_section_container {
			margin-top: 50px;
			padding-top: 50px;
			padding-bottom: 50px;
			border: 1px solid #dadada;
		}

			.entrance_section_container label {
				font-size: 18px;
				color: #808080;
				padding-top: 5px;
				padding-left: 5px;
			}

		.login_section_container input {
			border-radius: 0px;
		}

		.entrance_section_container .entrance_section_button {
			border: 1px solid #3e3e3e;
			border-radius: 0px;
			background: #fff;
			text-decoration: none;
			color: #3e3e3e;
			cursor: pointer;
		}
	</style>
}