@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="container">
    <h3>Chọn file</h3>
    <form action="~/Home/Index" method="post" enctype="multipart/form-data">
        <input type="file" name="fileInput"/>
        <input class="btn btn-info" type="submit" value="Submit" />
    </form>
    <P>File đang đọc: @Model.FilePath</P>
    <a class="btn btn-success" asp-controller="Home" asp-action="Export">Export</a>

    <h3>Danh sách học sinh</h3>
    <h4>Số học sinh: @Model.Students.Count</h4>
    <h4>Số lớp: @Model.Students.DistinctBy(m => m.Class).Count()</h4>
    @await Component.InvokeAsync("StudentMenu", new { pageIndex = ViewData["pageIndex"]})
</div>
